.AddReviewForm {
  display: flex;
  flex-direction: column;
}

.AddReviewForm label {
  color: rgb(0, 224, 224);
}

.AddReviewForm input,
textarea {
  opacity: 0.75;
}

.AddReviewForm__title {
  margin-bottom: 5px;
}

.AddReviewForm__buttons {
  display: flex;
  justify-content: space-evenly;
}

.AddReviewForm__rating {
  margin-bottom: 20px;
}

#game-rating {
  margin-left: 10px;
}
