.LandingPage {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 0.6);
  border-radius: 10px;
}

.LandingPage h2,
h3 {
  margin: 0 0 15px;
}

.login,
.description {
  min-height: 200px;
  padding: 10px 20px;
}

.demo-user {
  text-align: center;
  line-height: 1.5;
  border: solid 1px black;
  border-radius: 8px;
  max-width: 160px;
  margin: 15px auto;
  background-color: rgba(190, 160, 199, 0.363);
}

.demo-user ul {
  list-style: none;
  padding: 0;
}
