.RegistrationPage h2 {
  text-align: center;
  color: rgb(234, 0, 255);
}

@media screen and (min-width: 680px) {
  .RegistrationPage {
    margin: auto;
    width: 550px;
  }

  .RegistrationPage h2 {
    font-size: 30px;
  }
}
