.App {
  padding-bottom: 20px;
  margin: 0 auto;
}

.App__header {
  padding: 20px;
}

@media screen and (min-width: 680px) {
  .App__header {
    padding: 30px;
  }
}

@media screen and (min-width: 1180px) {
  .App__header {
    padding: 40px;
  }
}
