.App {
  padding-bottom: 20px;
  margin: 0 auto;
  background: url(https://free4kwallpapers.com/uploads/wallpaper/purple-sun-wallpaper-1920x1080-wallpaper.jpg)
    no-repeat center center fixed;
}

.App__header {
  padding: 20px;
}
