.GameList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addGameLink {
  color: rgb(0, 224, 224);
}

.addGameLink:hover {
  color: rgb(0, 173, 173);
}

@media screen and (min-width: 1180px) {
  .addGameLink {
    font-size: 20px;
  }
}
