.searchBar {
  display: flex;
  align-items: center;
  margin-top: 15px;
  width: 340px;
  color: rgb(0, 224, 224);
}

.searchBar label {
  margin-right: 5px;
}

.searchBar button {
  background-color: rgb(234, 0, 255);;
  border-color: rgb(194, 68, 194);
  border-radius: 4px;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}

.searchBar button:hover {
  background-color: rgb(139, 0, 151);
}

#search {
  width: 114px;
  border: 1px solid rgb(19, 37, 85);
  border-radius: 4px;
  padding-left: 5px;
  margin-right: 5px;
}

#sort {
  border: 1px solid rgb(19, 37, 85);
  border-radius: 4px;
}

@media screen and (max-width: 350px) {
  #search {
    width: 80px;
  }
}

@media screen and (min-width: 680px) {
  .searchBar {
    margin: 15px auto 0;
    width: 480px;
  }

  #search {
    width: 250px;
    margin-right: 10px;
  }
}
