.Header {
  height: 40px;
  display: flex;
  align-items: normal;
  justify-content: space-between;
}

.Header h1 {
  margin: 0;
  font-size: 32px;
}

.Header h1 a {
  text-decoration: none;
}

.Header a {
  color: rgb(0, 224, 224);
}

.Header a:hover {
  color: rgb(0, 173, 173);
}

.Header__not-logged-in {
  display: flex;
  flex-direction: column;
} 

.Header__not-logged-in .Hyph {
  display: none;
}

.Header__logged-in {
  display: flex;
  align-items: center;
}