.GamePage {
  display: flex;
  flex-direction: column;
}

.GamePage__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GamePage__header h2 {
  color: rgb(0, 224, 224);
}

.GamePage__header h3 {
  color: rgb(0, 224, 224);
  margin: 15px 0;
}

.GamePage__header img {
  width: 250px;
}

.GamePage__links a {
  color: rgb(0, 224, 224);
}

.GamePage__links a:hover {
  color: rgb(0, 173, 173);
}

.GamePage__review-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 250px;
}

.GamePage__review {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: rgba(240, 240, 240, 0.75);
  border-radius: 10px;
}

@media screen and (min-width: 680px) {
  .GamePage__header h2 {
    font-size: 28px;
  }

  .GamePage__header h3 {
    font-size: 20px;
  }

  .GamePage__header img {
    width: 300px;
  }

  .GamePage__review-list {
    width: 300px;
  }
}

@media screen and (min-width: 1180px) {
  .GamePage__header h2 {
    font-size: 32px;
  }

  .GamePage__header h3 {
    font-size: 24px;
  }

  .GamePage__links a {
    font-size: 20px;
  }

  .GamePage__review-list {
    width: 1200px;
  }
}
